    <section id="middle">
        <div class="container">
        <div class="center wow fadeInDown">
                 <div class="lead">
            <p>The difference between <span class="colour">who you are</span> and <span class="colour">who you want to be</span> is </p>
						<p style="margin-top:-30px; margin-bottom:-30px;"><span class="colour"><strong>what you do</strong>
						  </span>			
											
					</div>
            </div>
           <div class="panel panel-primary">
	        <div class="panel-heading">
              <div class="row" id="panel">
              <div class="col-sm-5 wow fadeInDown">
                    <p class="homeb" align="justify">
                    	Learning is a social process. In the age of Internet, we are beginning to see a rise in social networking or others websites using short video clips. Sometimes, these videos may impact our knowledge. Video in e-learning stimulates better brainstorming, knowledge sharing and information gathering.
                    </p>
                    <p class="homeb" align="justify">
                    	We, at TriEdge Solutions, bring a series of video lectures on Talent Acquisition and Recruitment skills development.
                    </p>
                    <p class="homeb" align="justify">
                     Watch these videos at your own pace and test your knowledge by taking a quiz.
                    </p>
                    <p>
                    <%= link_to 'Sign Up', subscribe_path, :class=>"btn btn-success btn-lg" %>
                    </p>
                      
                  </div><!--/.col-sm-6-->
                <div class="col-sm-5 wow fadeInDown" style="padding-left:50px;">
                     <iframe width="580" height="325" src="https://www.youtube.com/embed/RoFwVNy5tqw?rel=0&amp;autoplay=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                      
                  </div><!--/.col-sm-6-->
                  

            </div><!--/.row-->
            </div>
            </div>
        </div><!--/.container-->
    </section><!--/#middle-->
