<!--header-->
	<header class="header">
<!--menu-->
    <nav id="main_menu" class="navbar" role="navigation">
      <div class="container">
            <div class="navbar-header">
        <!--toggle-->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		<!--logo-->
			<div class="logo">
				<%= image_tag 'logo.png' %>
			</div>
				</div>
           			<div class="collapse navbar-collapse" id="menu">
						<ul class="nav navbar-nav pull-right">
							<li class="dropdown active">
					 		<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
								Home
							</a>
                        	<ul class="dropdown-menu">
								<li><a href="index.html">Index 1 - Rev Slider</a></li>
								<li class="dropdown dropdown-submenu">
								<a href="#">
									Index 2 - Video
								</a>
								<ul class="dropdown-menu">
									<li><a href="index1.html">Html5 Video</a></li>
									<li><a href="index1a.html">YouTube</a></li>
								</ul>
							</li>
								<li><a href="index2.html">Index 3 - Slider</a></li>
								<li><a href="index3.html">Index 4 - Image</a></li>
								<li><a href="index4.html">Index 5 - Pattern</a></li>
								<li><a href="index5.html">Index 6 - Image Alt</a></li>
								<li><a href="index6.html">Index 7 - Video Bar</a></li>
								<li><a href="index7.html">Index 8 - Laptop</a></li>
                        	</ul>
                   			</li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
								Pages
							</a>
							<ul class="dropdown-menu">
								<li><a href="about.html">About</a></li>
								<li><a href="team.html">The Team</a></li>
								<li><a href="team_member.html">Team Member</a></li>
								<li><a href="services.html">Services</a></li>
								<li><a href="services2.html">Services 2</a></li>
								<li><a href="services3.html">Services 3</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="timeline.html">Timeline</a></li>
								<li><a href="pricing_table.html">Pricing Table</a></li>
								<li><a href="faq.html">FAQ</a></li>
								<li><a href="clients.html">Clients</a></li>
								<li><a href="full.html">Full Width</a></li>
								<li><a href="left_sidebar.html">Left Sidebar</a></li>
								<li><a href="right_sidebar.html">Right Sidebar</a></li>
								<li><a href="dribbble_stream.html">Dribbble Stream</a></li>
								<li><a href="404.html">404 Page</a></li>
							</ul>
							</li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
								Work
							</a>
							<ul class="dropdown-menu">
								<li><a href="work1.html">Portfolio 1</a></li>
								<li><a href="work2.html">Portfolio 2</a></li>
								<li><a href="work3.html">Portfolio 3</a></li>
								<li><a href="work4.html">Portfolio 4</a></li>
								<li><a href="left_image.html">Left Image</a></li>
								<li><a href="right_image.html">Right Image</a></li>
								<li><a href="gallery_project.html">Gallery Project</a></li>
								<li><a href="retouch.html">Before &amp; After</a></li>
								<li><a href="full_video.html">Full Video</a></li>
								<li><a href="full_slider.html">Full Slider</a></li>
								<li><a href="feature1.html">Feature Project 1</a></li>
								<li><a href="feature2.html">Feature Project 2</a></li>
								<li><a href="feature3.html">Feature Project 3</a></li>
							</ul>
							</li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
								Style
							</a>
							<ul class="dropdown-menu">
								<li><a href="grid.html">Grid System</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="animations.html">Animations</a></li>
								<li><a href="overlays.html">Overlay Effects</a></li>
								<li><a href="icons.html">Icons</a></li>
								<li><a href="line_icons.html">Line Icons</a></li>
								<li><a href="search_header.html">Search Header</a></li>
								<li><a href="dark_header.html">Dark Header</a></li>
								<li><a href="dark_search_header.html">Dark Search Header</a></li>
								<li><a href="alt_footer.html">Alternative Footer</a></li>
								<li><a href="alt_footer2.html">Alternative Footer 2</a></li>
								<li class="dropdown dropdown-submenu">
								<a href="#">
									Sub Menu
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Sub One</a></li>
									<li><a href="#">Sub Two</a></li>
									<li><a href="#">Sub Three</a></li>
									<li><a href="#">Sub Four</a></li>
								</ul>
							</ul>
							</li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
								Blog
							</a>
							<ul class="dropdown-menu">
								<li><a href="gridblog.html">Grid Blog</a></li>
								<li><a href="gridblog2.html">Grid + Sidebar</a></li>
								<li><a href="sidebar_blog.html">Sidebar Blog</a></li>
								<li><a href="blog_post.html">Sidebar Post</a></li>
								<li><a href="blog_post2.html">Alt. Post</a></li>
							</ul>
							</li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
								Contact
							</a>
							<ul class="dropdown-menu">
								<li><a href="contact.html">Contact</a></li>
								<li><a href="contact2.html">Contact 2</a></li>
							</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
	<!--//header-->